
\.idea/libraries/Maven__com_google_code_gson_gson_2_8_0\.xml

\.idea/libraries/Maven__com_google_guava_guava_21_0\.xml

\.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1\.xml

\.idea/libraries/Maven__commons_lang_commons_lang_2_6\.xml

\.idea/libraries/Maven__junit_junit_4_10\.xml

\.idea/libraries/Maven__net_md_5_bungeecord_chat_1_13_SNAPSHOT\.xml

\.idea/libraries/Maven__org_bukkit_bukkit_1_13_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1\.xml

\.idea/libraries/Maven__org_spigotmc_spigot_api_1_13_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_21\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/workspace\.xml

target/classes/com/songoda/ultimatetimber/commands/CommandHandler\.class

target/classes/com/songoda/ultimatetimber/commands/ReloadCommand\.class

target/classes/com/songoda/ultimatetimber/configurations/DefaultConfig\.class

target/classes/com/songoda/ultimatetimber/treefall/AxeDurability\.class

target/classes/com/songoda/ultimatetimber/treefall/EventFilter\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeChecker\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeEntityDamage\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeFallAnimation\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeFallAnimation\$1\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeFallAnimation\$2\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeFallEvent\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeLoot\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeLoot\$1\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeReplant\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeReplant\$1\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeReplant\$2\.class

target/classes/com/songoda/ultimatetimber/treefall/TreeSounds\.class

target/classes/com/songoda/ultimatetimber/UltimateTimber\.class

target/classes/plugin\.yml

target/maven-archiver/pom\.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles\.lst

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles\.lst

target/UltimateTimber\.jar

UltimateTimber\.iml

\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/vcs\.xml

target/classes/com/songoda/ultimatetimber/treefall/CustomLoot\.class

target/classes/com/songoda/ultimatetimber/treefall/NoAnimationTreeDestroyer\.class

target/classes/com/songoda/ultimatetimber/utils/LeafToSaplingConverter\.class

target/classes/com/songoda/ultimatetimber/utils/LeafToSaplingConverter\$1\.class

target/classes/com/songoda/ultimatetimber/utils/LogToLeafConverter\.class

target/classes/com/songoda/ultimatetimber/utils/LogToLeafConverter\$1\.class

target/classes/com/songoda/ultimatetimber/utils/Methods\.class

target/classes/config\.yml

\.idea/libraries/Maven__net_md_5_bungeecord_chat_1_12_SNAPSHOT\.xml

\.idea/libraries/Maven__org_bukkit_bukkit_1_12_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_spigotmc_spigot_api_1_12_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_18\.xml

target/classes/com/songoda/ultimatetimber/utils/VersionChecker\.class
target/UltimateTimber-maven-version-number.jar
